/*
 * CSS module style for cash-register-app.js component
 */
.container > * {
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.container {
  border: solid thin black;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  padding: 4px;
}
.container-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* align-content: space-around; */
  margin: 4px;
  align-self: stretch;
}
.container-2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 4px;
  /* justify-content: space-between; */
}
.container-2 > h5 {
  margin: 0px 6px;
}
.container-2 > input {
  height: 25px;
  width: 80px;
}
.container-3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0px 4px;
}
.hr {
  height: 6px;
  width: 100%;
  background-color: red;
  border-radius: 3px;
}
.collapse-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}
.button {
  border: solid thin rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: rgba(44, 130, 201, 0.1);
  color: #000;
}
.button:hover {
  background-color: rgba(44, 130, 201, 0.3);
  color: #eee;
  border-color: #eee;
}
