/*
 * CSS module style for cash-register-app.js component
 */
.container > * {
  background-color: rgba(0, 0, 0, 0.1);
}
.container {
  border: solid thin black;
  display: flex;
  flex-flow: column nowrap;
}
.inner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 4px;
}
.inner-container-1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.inner-container-1 > h5 {
  margin: 0;
}
.inner-container-1 > input {
}
.hr {
  height: 6px;
  width: 100%;
  background-color: red;
  border-radius: 3px;
}
