body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  font-family: monospace;
  height: 100%;
  min-height: 100%;
  min-width: 320px;
}
#sidebar {
  position: fixed;
  top: 0px;
  height: 75px;
  width: 100%;
  background-image: url("../images/banner2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

#sidebar a {
  font-size: 25px;
  padding-top: 25px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 4vw 4px 0px 2px;
}

#sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

#sidebar a:nth-child(3) {
}

#main {
  margin-top: 75px;
  overflow-y: auto;
  font-family: monospace;
  /* font-size: 18px; */
  width: 100%;
  text-indent: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#main-header, #content {
  margin: 0px 5vw;
}

#main-header h1 {
  font-size: 28px;
  text-align: center;
}

#content {
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#content p, #content ul, #content img {
  margin: 4px 10px;
}

/* style for about.html */
#about-img-1 {
  width: 80vw;
  max-width: 600px;
}

#about-img-2 {
  width: 80vw;
  max-width: 500px;
}
@media screen and (min-width: 580px) {
  /* if width more than 800px lock these values */
  body {
    flex-flow: row nowrap;
    height: 100vh;
  }
  #main {
    margin-top: 0px;
  }
  #sidebar {
    background-image: url("../images/nav.jpeg");
    border-radius: 0px 4px 4px 0px;
    position: static;
    height: 100vh;
    width: 120px;
    flex-flow: column nowrap;
  }
  #sidebar a, #main-header h1 {
    /* font-size: 40px; */
  }
  #sidebar a {
    padding: 4px;
  }
  #content {
    /* font-size: 16px; */
  }
  #about-img-1, #about-img-2 {
    width: 60vw;
  }
  #main-header, #content {
    /* margin: 0px 40px; */
  }
}
